.admin {
  display: flex;

  .admin-content {
    width: 100%;
    background-color: $gray-300;
    padding: 1rem;

    .admin-action-label {
      margin-bottom: 1rem;
    }

    .admin-content-element {
      background-color: $gray-200;
      box-shadow: $box-shadow-sm;
      padding: 1rem;
      border-radius: $border-radius-sm;
      margin-bottom: 2rem;
    }
  }

  .delete-post {
    color: $danger;
    transition: 0.2s;
    margin-bottom: 0;

    &:hover {
      transform: scale(1.5);
    }
  }
}