.post-card {
  box-shadow: $box-shadow;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: $box-shadow-lg;

    .post-card-body {
      .post-title {
        color: $info;
      }
    }
  }

  .post-card-header {
    height: 200px;
    position: relative;

    .post-image {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .post-card-body {
    padding: 0 2rem 2rem 2rem;
    background-color: $white;

    .post-author-image {
      position: relative;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 70px;
      width: 70px;
      border-radius: $rounded-pill;
      object-fit: cover;
      border: 0.25rem solid $white;
      box-shadow: $box-shadow;
      margin-bottom: -1rem;
      transition: 0.3s;

      &:hover {
        box-shadow: $box-shadow-lg;
        transform: translate(-50%, -53%);
        border: 0.25rem solid $info;
      }
    }

    .post-title {
      font-size: 1.125rem;
      font-weight: $font-weight-bold;
      line-height: 1.75rem;
      text-align: center;
      transition: 0.3s;
    }
  }
}