.footer {
  margin-top: auto;
  text-align: center;

  h2 {
    font-weight: $font-weight-bold; 
  }

  .footer-social {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;

    .social-icon {
      margin-right: 2rem;
      color: $secondary;
      transition: all 0.3s;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $primary;
        transform: translateY(-5px);
    }
    }
  }
}