.single-post {
  background-color: $white;
  padding: 2rem 1.5rem;
  margin-top: -150px;
  box-shadow: $box-shadow;
  position: relative;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  .post-title {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .post-header {
    display: flex;
    justify-content: space-between;

    .post-category {
      text-transform: uppercase;
      color: $gray-600;
      font-size: 1.125rem;
      font-weight: $font-weight-normal;
      margin-bottom: 1.25rem;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: $info;
        transform: translateY(-2px);
      }
    }

    .post-clicks {
      .eye-icon {
        margin-right: 1rem;
      }
    }

    .edit-post {
      position: absolute;
      right: 0;
      top: 0;
      background-color: $red;
      border-radius: $rounded-pill;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(30%, -30%);
      cursor: pointer;
      transition: 0.3s;
      box-shadow: $box-shadow;

      &:hover {
        background-color: darken($red, 20%);
      }

      .edit-icon {
        color: $white;
      }
    }
  }

  .post-author {
    display: flex;
    align-items: center;
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
    color: $info;
    justify-content: center;

    .info-item {
      margin-right: 1rem;
      font-size: 0.875rem;
    }
  }

  .post-tags {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    flex-wrap: wrap;

    .tag-icon {
      color: $info;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }

    .post-tag {
      padding: 0.25rem 0.5rem;
      background-color: $info;
      margin-right: 1rem;
      margin-bottom: 1rem;
      color: $white;
      transition: 0.3s;
      border-radius: $border-radius-sm;
      box-shadow: $box-shadow;

      &:hover {
        box-shadow: $box-shadow;
        transform: translateY(-3px);
        cursor: pointer;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .single-post {
    padding: 3.125rem;
    margin-top: -100px;

    .post-title {
      margin-bottom: 0.5rem;
      text-align: left;
    }

    .post-author {
      justify-content: left;
    }

    .post-tags {
      .tag-icon {
        margin-right: 2rem;
      }

      .post-tag {
        padding: 0.5rem 1rem;
        margin-right: 2rem;
        box-shadow: none;
      }
    }
  }
}